
html,
body {
    margin: 0;
    color: #FFF;
    font-family: 'SUIT Variable', sans-serif;

}

.titlearea {
    font-size: 2.2rem;
    margin-top: 24px;
    font-weight: 700;
}

.content {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    padding-top: 28px;
    width: 70%;
}

@media screen and (max-width: 800px) {
    .content {
        position: absolute;

        left: 50%;
        transform: translateX(-50%);

        padding-top: 28px;
        width: 90%;
    }
}

p {
    font-size: 1.1rem;
    margin-top: 24px;
    font-weight: 500;

    opacity: 0.8;
}

br {
    margin-bottom: 10px;
}

a {
    color: #2d6bf0;
    text-decoration: none;

    opacity: 1.0;
}