
.DS_Store
src/compiler/bin/
src/compiler/obj/
src/compiler/.vs
*.log
src/compiler/Properties/PublishProfiles
*.user
export/
src/compiler/Properties/launchSettings.json
src/compiler/compiler.csproj.user
src/compiler/Runner.csproj.user
*.sh
*.out
.vscode/
src/DoKevEngine/COMPILE_TEST.dkv
